.header .svg-wrapper>svg {
    width: 20px;
    height: 20px;
}
.normal-image-with-text-section .image-with-text__media {
    padding-bottom: 0!important;
    position: unset!important;
    border: none;
    display: flex;
    align-items: center;
}
.normal-image-with-text-section .image-with-text__media img {
    object-fit: contain!important;
    position: unset!important;
    width: 100%!important;
    height: auto!important;
}
.collection-list-section .card__content {
    position: absolute;
    bottom: 0;
    left: 0;
}
.collection-list-section .card__content .card__information {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}
.collection-list-section .card__content .card__information a.full-unstyled-link {
    color: #fff;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}
.collection-list-section .card__content .card__information span.icon-wrap {
    color: #38204d;
    background: #fff;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-width: 40px;
}
.collection-list-section .card__inner, .collection-list-section .card__inner .card__media {
    border-radius: 16px !important;
}
.collection-list-section ul.collection-list {
    --grid-desktop-vertical-spacing: 2rem;
    --grid-desktop-horizontal-spacing: 2rem;
    --grid-mobile-vertical-spacing: 1rem;
    --grid-mobile-horizontal-spacing: 1rem;
}
.collection-list-section .collection-list-wrapper {
    max-width: 1000px;
}
.announcement-bar__message {
    font-weight: 400 !important;
}
.my-collapsible-content-section .collapsible-content__wrapper>.page-width {
    margin-left: 0;
    padding-left: 0;
    max-width: unset;
}
.my-collapsible-content-section .collapsible-content__wrapper .grid__item:last-child {
    padding-left: 5rem;
}
.my-collapsible-content-section .collapsible-content__wrapper .grid {
    gap: 0;
}
.my-collapsible-content-section .collapsible-content__wrapper .accordion summary h3.accordion__title {
    font-weight: 400;
}
.my-collapsible-content-section .collapsible-content summary .accordion__title {
    text-decoration: none !important;
}
.my-collapsible-content-section .accordion__content p {
    font-size: 13px;
    font-weight: 300;
}
.my-collapsible-content-section .collapsible-content__wrapper .accordion summary svg {
    width: 14px;
}
.my-collapsible-content-section .collapsible-content__wrapper .accordion summary svg.icon.icon-minus {
    display: none;
}
.my-collapsible-content-section .collapsible-content__wrapper .accordion details[open] summary svg.icon.icon-minus {
    display: block;
}
.my-collapsible-content-section .collapsible-content__wrapper .accordion details[open] summary svg.icon.icon-plus {
    display: none;
}
.my-collapsible-content-section .collapsible-content__wrapper .accordion summary {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    background: transparent;
}
.my-collapsible-content-section .collapsible-content .accordion {
    border-color: #000;
}
.my-collapsible-content-section .collapsible-content .accordion:nth-child(2) {
    border-top: none;
}
.my-collapsible-content-section .collapsible-content__wrapper .grid .grid__item:first-child {
    width: 30%;
}
.footer-block-image.center {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}
.footer__content-bottom-wrapper {
    display: flex;
    justify-content: space-between;
}
.footer__content-bottom-wrapper:nth-child(1) {
    display: none;
}
.footer__content-bottom {
    padding-top: 1rem !important;
}
footer.footer {
    padding-bottom: 1rem !important;
}
.footer-text-content p {
    font-size: 11px;
    font-weight: 300;
}
.footer-text-content b {
    font-weight: 600;
    font-size: 13px;
}
h2.footer-block__heading.inline-richtext {
    font-weight: 400;
}
.icon-with-text-main-blk {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    gap: 1.5rem;
    padding: 0;
}
.icon-with-text-main-blk .image-with-text__icon.rte {
    width: calc(50% - .75rem);
    margin-top: 0;
    display: flex;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.4;
    gap: 0.5rem;
    align-items: center;
}
.icon-with-text-main-blk .icon_code img {
    width: 40px;
    height: auto;
    margin: 0 !important;
    border: 0;
}
.icon-with-text-main-blk .icon_text p {
    margin: 0;
}
.normal-image-with-text-section a.button {
    gap: 1rem;
}
.latest-image-with-text-section .image-with-text__media-item {
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-with-text__text.rte p {
    font-weight: 300;
    font-size: 14px;
}
.latest-image-with-text-section .image-with-text__content {
    padding-top: 0;
    padding-bottom: 0;
      display: flex;
    justify-content: center;
}
.tab.main_head, .tab.main_head * {
    margin: 0;
    display: none !important;
}
a.collection__view-all-new {
    position: absolute;
    right: 5rem;
    top: 36px;
    padding: 5px 0;
    width: max-content;
    height: max-content;
    min-height: max-content;
}
.collection-tabs-sec .collection__title.title-wrapper--self-padded-tablet-down {
    padding: 0;
}
ul.product-grid {
    --grid-desktop-vertical-spacing: 1.5rem;
    --grid-desktop-horizontal-spacing: 1.5rem;
    --grid-mobile-vertical-spacing: 1rem;
    --grid-mobile-horizontal-spacing: 1rem;
}
.collection-tabs-sec ul.product-grid {
    margin-top: 0;
}
ul.product-grid li.grid__item .card-wrapper.product-card-wrapper {
    border-radius: 16px;
    border: 1px solid #9D9D9D;
    background: #fff;
}
ul.product-grid li.grid__item .card-wrapper.product-card-wrapper .card__inner, ul.product-grid li.grid__item .card-wrapper.product-card-wrapper .card__inner .card__media, ul.product-grid li.grid__item .card-wrapper.product-card-wrapper .card__inner .card__media img {
    border-radius: 16px;
}
ul.product-grid li.grid__item .card-wrapper.product-card-wrapper .card__content {
    padding: 1rem 2rem;
}
.caption-with-letter-spacing.light.product_collection_vandor {
    opacity: 1;
    text-transform: capitalize;
}
ul.product-grid li.grid__item .card--standard>.card__content .card__information {
    display: flex;
    gap: 1rem;
    padding-top: .75rem;
  justify-content: space-between;
}
ul.product-grid li.grid__item .card-wrapper.product-card-wrapper .card__content .card-information {
    display: flex;
    width: max-content;
}
ul.product-grid li.grid__item .card--standard>.card__content .card__information .card-information .price {
    font-size: 14px;
    letter-spacing: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    margin: 0;
}
span.discount-percentage-new {
    display: none;
}
ul.product-grid li.grid__item span.discount-percentage-new {
    color: #57b56b;
    font-size: 12px;
    position: absolute;
    top: -2.2rem;
    display: block;
    width: max-content;
}
.price span.visually-hidden {
    display: none!important;
}
ul.product-grid li.grid__item .price__regular .price-item--regular {
    width: max-content;
}
ul.product-grid li.grid__item .price--on-sale .price__sale {
    display: flex;
    justify-content: flex-end;
    flex-direction: column-reverse;
    align-items: flex-end;
}
ul.product-grid li.grid__item .price--on-sale .price__sale span {
    width: max-content;
    text-align: right;
}
ul.product-grid li.grid__item .price--on-sale .price__sale s.price-item.price-item--regular {
    margin: 0;
    color: #9a9a9a;
    font-size: 12px;
}
ul.product-grid li.grid__item .quick-add product-form form.form {
    display: flex;
    max-width: 100%;
    overflow: hidden;
    justify-content: space-between;
    gap: .75rem;
}
ul.product-grid li.grid__item .shopify-payment-button {
    width: 100%;
}
ul.product-grid li.grid__item .quick-add product-form form.form shopify-accelerated-checkout shop-pay-wallet-button {
    display: none;
}
ul.product-grid li.grid__item .quick-add product-form form.form shopify-accelerated-checkout button.shopify-payment-button__button {
    margin: 0;
    height: 32px;
    border-radius: 8px;
    background: #1B5981;
    color: #fff;
    text-decoration: none;
    line-height: 2.5;
    letter-spacing: 0;
    font-size: 0;
      min-height: max-content;
}
ul.product-grid li.grid__item .quick-add product-form form.form shopify-accelerated-checkout button.shopify-payment-button__button:before {
    content: "Buy Now";
    font-size: 12px;
    position: unset;
    box-shadow: none;
}
ul.product-grid li.grid__item .quick-add product-form form.form shopify-accelerated-checkout button.shopify-payment-button__button:after {
    display: none;
}
ul.product-grid li.grid__item .quick-add__submit:after, ul.product-grid li.grid__item .quick-add__submit:before {
    display: none;
}
ul.product-grid li.grid__item .quick-add__submit {
    min-width: max-content;
    width: max-content;
    border-radius: 8px;
    background: #1B5981;
    height: max-content;
    min-height: max-content;
    padding: .5rem 1rem;
}
ul.product-grid li.grid__item .quick-add__submit svg {
    width: 18px;
    height: auto;
}
ul.product-grid li.grid__item .badge {
    background: #008000;
    color: #fff;
    border: none;
}
ul.product-grid li.grid__item .card--standard>.card__content .card__information h3.card__heading {
    font-weight: 400;
}
ul.product-grid li.grid__item .quick-add__submit svg path {
    stroke: #fff;
}
ul.product-grid li.grid__item .card-wrapper.product-card-wrapper .card__inner {
    max-width: calc(100% - 0.5px);
}
ul.product-grid li.grid__item .card-wrapper.product-card-wrapper .card__inner .card__media img {
    object-fit: contain;
    background: #fff;
}
.collection-tabs-sec>.title-wrapper-with-link {
    margin-bottom: 1.5rem;
}
.footer .newsletter-form__field-wrapper .field:after, .footer .newsletter-form__field-wrapper .field:before {
    display: none;
}
.footer .newsletter-form__field-wrapper .field {
    border-bottom: 1px solid #fff;
}
.footer .newsletter-form__field-wrapper .field__input {
    padding-left: 1rem;
}
.footer .newsletter-form__field-wrapper .field label.field__label {
    left: 0;
    color: #fff;
    font-weight: 400;
}
.copyright__content a {
    font-size: 14px;
}

.product__info-container .product-form__buttons button.product-form__submit {
    /* position: absolute;
    top: -6.2rem;
    width: calc(100% - 14.5rem);
    max-width: 100%;
    margin-left: 14.15rem;
    margin-bottom: 0!important;
    display: flex;
    gap: 1rem; */
   border-radius: 6px !important;
    height: 52px;
    flex-shrink: 0;
    border: 1px solid #000;
    max-height: 47px;
    color: #000;
    width: max-content;
}
.product__info-container .product-form {
    position: relative;
    margin-top: 0 !important;
}
.product__info-container quantity-input.quantity {
    border: 1px solid #000;
}
.product__info-container .product-form__buttons button.product-form__submit:after, .product__info-container .product-form__buttons button.product-form__submit:before {
    display: none;
}
.product__info-container quantity-input.quantity:before, .product__info-container quantity-input.quantity:after {
    display: none;
}
.product__info-container .product-form__buttons button.shopify-payment-button__button:before, .product__info-container .product-form__buttons button.shopify-payment-button__button:after {
    display: none;
}
.product__info-container .product-form__buttons button.shopify-payment-button__button {
    border-radius: 0;
    /* background: #000; */
}
.product__info-container .product-form__buttons {
    max-width: 100%;
}
.product__accordion.accordion .accordion__content {
    font-weight: 300;
    font-size: 13px;
}
.product-form__input--pill input[type=radio]+label {
    display: inline-flex !important;
    justify-content: center;
    align-items: center;
    padding: 1rem !important;
    min-width: 40px;
    min-height: 40px;
}
.product-form__input--pill input[type=radio]:checked+label {
    background: #77C3EC !important;
    color: #000 !important;
    border-color: #77C3EC !important;
}
.my-new-page-width {
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #000;
    border-radius: 24px;
}
.my-new-page-width deferred-media.video-section__media {
    border-radius: 24px;
}
.my-new-page-width deferred-media.video-section__media button.deferred-media__poster {
    border-radius: 24px;
}
.my-new-page-width deferred-media.video-section__media iframe {
    border-radius: 24px;
}
.product__info-container .product__title h1 {
    font-weight: 500;
}
.new-testimonial-section .testimonial_content {
    background: #2372A5;
    padding: 3rem;
    display: block;
    border-radius: 6px;
}
.new-testimonial-section .testimonial_wrapper {
    padding: 0 1.5rem;
}
.new-testimonial-section .testimonial_content_bottom_inner {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.new-testimonial-section .testimonial_auth_img img.card__image {
    max-width: 50px;
    height: auto;
}
.new-testimonial-section .testimonial_content_bottom {
    margin-top: 2rem;
}
.new-testimonial-section .test_inner-cont p {
    font-size: 10px;
    margin: 0;
}
.new-testimonial-section .testimonial_content svg {
    display: flex;
    max-width: 40px;
    height: auto;
}
.new-testimonial-section .testimonial_title h2.h3 {
    /* font-family: 'Work Sans'; */
    font-weight: 400;
}
.new-testimonial-section .testimonial_content .rte {
    font-size: 14px;
    letter-spacing: 0;
}
.new-testimonial-section .test_inner-cont .inline-richtext {
    font-weight: 400;
    font-size: 12px;
}
.new-testimonial-section .testimonial.quotes:before, .new-testimonial-section .testimonial.quotes:after{
  display: none;
}
.new-testimonial-section .testimonial_content .rte {
    color: #000;
    line-height: 1.4;
    margin-top: 1rem;
  font-weight: 400;
}
.new-testimonial-section .testimonial_content svg path {
    fill: #fff;
}
a.link.animate-arrow.my-btn-all {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}
.new-multicolumn-section .multicolumn-card-spacing {
    padding-top: 0;
}
body .new-multicolumn-section, body .new-multicolumn-section>div {
    /* background: #D5ECF9 !important; */
}
.product .price span.badge.price__badge-sale {
    color: #57B56B;
    background: transparent;
    border: none;
    margin: 0 !important;
    margin-top: 0.35rem !important;
}
.product .price__container .price__sale {
    display: flex;
    flex-direction: row-reverse;
    letter-spacing: 0;
    align-items: center;
}
.product__description.rte.quick-add-hidden {
    font-weight: 300;
    font-size: 13px;
}
.product__info-container .icon-with-text-main-blk {
    padding-bottom: 2rem;
    border-bottom: 1px solid #818181;
}
body .ingredients-tab-section .collection-tabs-sec .tab.main_head, body .ingredients-tab-section .collection-tabs-sec .tab.main_head *{
    display: flex !important;
      border: none;
}
body .ingredients-tab-section .collection-tabs-sec .tab.main_head button:after {
    display: none;
}
body .ingredients-tab-section .collection-tabs-sec .tab.main_head button {
    border-radius: 40px;
    border: none!important;
    background: #fff;
    font-size: 16px;
    padding: .7rem 3rem;
    letter-spacing: 0;
    border: 1px solid #416B82 !important;
    color: #416B82 !important;
}
body .ingredients-tab-section .tab.main_head button.active {
    background: #416B82 !important;
    color: #fff !important;
}
.my-multicolumn-card__info img.my-multicolumn-card__info__image {
    width: 100%;
    height: auto;
    max-width: 700px;
    margin: 0 auto;
    display: block;
}
.ingredients-tab-section .collection__title p {
    margin-top: 0;
}
body .ingredients-tab-section .collection-tabs-sec .collection__title {
    font-weight: 300;
    font-size: 13px;
}
.icon-with-text-main-blk.neww .image-with-text__icon.rte {
    width: 100%;
}
.icon-with-text-main-blk.neww .icon_text p {
    font-size: 14px;
}
.collection-list .card__inner + .card__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.collection-list .card__inner + .card__content .icon-with-text-main-blk {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    padding-bottom: 1.7rem;
    padding-top: 1.7rem;
    color: #fff;
}
.collection-list-section ul.collection-list li.grid__item:hover .card__inner + .card__content .icon-with-text-main-blk {
    opacity: 1;
}
.price-per-item__container:before {
    content: "Select No. of Kits";
    background: #1B5981;
  color: #fff;
    width: max-content;
    padding: 1rem 3rem;
    height: 47px;
    border-radius: 6px 0 0 6px;
}
.product__info-container quantity-input.quantity {
    border-radius: 0 6px 6px 0;
}
.product__info-container .product-form__buttons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 1rem;
}
.product__info-container .product-form__buttons button.shopify-payment-button__button {
    min-width: 250px;
    border-radius: 6px;
    letter-spacing: 0;
  background: #1B5981;
}
.product__info-container .product-form__quantity label.quantity__label.form__label {
    display: none;
}
.product__info-container .price-per-item__container {
    gap: 0 !important;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: max-content;
    max-width: 100%;
}
.product__accordion.accordion .accordion__content img.my-multicolumn-card__info__image {
    width: 100%;
    height: auto;
}
.product__accordion.accordion.quick-add-hidden {
    border: none;
    margin-bottom: 1.5rem;
}
.product__accordion.accordion.quick-add-hidden summary {
    background: #1B5981;
  color: #fff;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 1rem;
  border-radius: 6px;
}
.product__accordion.accordion.quick-add-hidden summary h2 {
    color: #fff;
}
.product__accordion.accordion.quick-add-hidden summary svg path {
    fill: #fff;
}
.product__accordion.accordion.quick-add-hidden details[open] summary svg {
    transform: rotate(180deg);
}
.product__accordion.accordion.quick-add-hidden details summary svg {
    transition: ease all 0.3s;
}
.product__accordion.accordion .accordion__content {
    margin-top: 0.5rem;
}
.product__accordion.accordion.quick-add-hidden summary .summary__title h2 {
    font-weight: 400;
}
.footer-block__image-wrapper img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(5%) saturate(21%) hue-rotate(255deg) brightness(108%) contrast(107%);
}
.footer .newsletter-form__button svg path {
    stroke: #fff;
}
.footer .svg-wrapper>svg path {
    fill: #fff;
}
.header .svg-wrapper>svg path {
    fill: #10354C;
}
.new-testimonial-section .testimonial_content .rte, .new-testimonial-section .testimonial_title h2.h3, .new-testimonial-section .test_inner-cont .inline-richtext, .new-testimonial-section .test_inner-cont p {
    color: #fff;
}
.footer .newsletter-form__field-wrapper .field label.field__label {
    font-size: 12px;
}
ul.product-grid li.grid__item .card__badge.top.right {
    display: none;
}
body .shopify-payment-button {
    display: block !important;
}
.collection-list-section .card .card__inner .card__media:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: rgb(0 0 0 / 30%);
    z-index: 9;
    width: 100%;
    height: 100%;
}
.globo-form-app [data-steps-quantity="1"] .panels + p {
    display: none !important;
    height: 0;
    width: 0;
    opacity: 0;
    visibility: hidden;
}
.globo-form-id-0 .globo-form-app .gfb__footer button {
    background: #1B5981 !important;
    width: max-content !important;
}

@media screen and (min-width: 801px) {
    .new-multicolumn-section .grid--6-col-desktop .grid__item {
        width: calc(14.25% - var(--grid-desktop-horizontal-spacing)* 5 / 6);
        max-width: calc(14.25% - var(--grid-desktop-horizontal-spacing)* 5 / 6);
    }
}

@media screen and (min-width: 767px) {
    .collection__title.title-wrapper--self-padded-tablet-down {
        max-width: 1200px;
        margin: 0 auto;
        margin-bottom: 2.5rem;
    }
  .collection-list .card__inner+.card__content .icon-with-text-main-blk {
    opacity: 0;
}
}

@media screen and (min-width: 1200px) {
      header.header {
        display: flex;
        justify-content: space-between;
    }
    header.header nav.header__inline-menu {
        text-align: center;
    }
  .footer .grid--3-col-tablet .footer-block.grid__item {
    width: calc(19% - var(--grid-desktop-horizontal-spacing)* 2 / 3);
}
}

@media screen and (max-width: 767px) {
.latest-image-with-text-section .image-with-text__heading {
    width: 100%;
}
  .latest-image-with-text-section .image-with-text__heading p br {
    display: none;
}
  .latest-image-with-text-section .image-with-text__content {
    padding: 0;
}
  .icon-with-text-main-blk {
    display: flex;
    flex-direction: column;
}
  .icon-with-text-main-blk .image-with-text__icon.rte {
    width: 100%;
}
  .collection-tabs-sec ul.product-grid {
    padding: 0 0.5rem;
}
  .collection-tabs-sec>.title-wrapper-with-link {
    padding: 0!important;
}
  a.collection__view-all-new {
    right: 1.5rem;
    width: max-content;
    top: 30px;
    font-size: 12px;
}
  .collection-tabs-sec>.title-wrapper-with-link h2.title {
    max-width: 200px;
    text-align: left;
}
  .collection-tabs-sec .collection__title.title-wrapper {
    margin-bottom: 1rem;
}
  .my-collapsible-content-section .collapsible-content__wrapper>.page-width {
    padding-right: 0;
}
  .my-collapsible-content-section .collapsible-content__wrapper .grid__item:last-child {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.5rem;
}
  .footer__content-bottom-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 0;
}
  .footer__blocks-wrapper.grid {
    display: flex !important;
    align-items: flex-start;
}
  .footer__blocks-wrapper.grid .footer-block.grid__item:last-child {
    order: -1;
}
  .footer__content-top.page-width {
    padding: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
  .footer__blocks-wrapper.grid .footer-block.grid__item {
    margin: 2rem 0 !important;
}
  .footer-block__details-content {
    margin-bottom: 0 !important;
}
  .footer__blocks-wrapper.grid .footer-block.grid__item:nth-child(2), .footer__blocks-wrapper.grid .footer-block.grid__item:nth-child(3) {
    width: 49% !important;
    max-width: 50% !important;
    margin: 0 !important;
}
  .footer-block__details-content .list-menu__item--link {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}
  .footer__content-bottom-wrapper {
    gap: 0 !important;
}
  .ingredients-tab-section .collection-tabs-sec {
    overflow: hidden;
    min-height: 300px;
    padding-top: 8rem;
}
  .ingredients-tab-section .collection-tabs-sec .tab.main_head {
    max-width: 100% !important;
        padding-bottom: 1rem !important;
        display: flex !important;
        justify-content: flex-start !important;
        margin-bottom: 2rem !important;
}
  .new-testimonial-section {
    margin-bottom: 3rem;
}
  .new-multicolumn-section .grid--6-col-desktop .grid__item {
    width: calc(33.33% - var(--grid-desktop-horizontal-spacing)* 5 / 6);
    max-width: calc(33.33% - var(--grid-desktop-horizontal-spacing)* 5 / 6);
}
  .new-multicolumn-section ul.multicolumn-list {
    display: flex;
    justify-content: center;
}
  .collection-list .card__inner+.card__content .icon-with-text-main-blk {
    padding-left: 1rem!important;
    padding-right: 1rem!important;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}
  .collection-list .card__inner+.card__content .icon-with-text-main-blk .image-with-text__icon.rte {
    width: calc(50% - .75rem);
}
  .collection-list .card__inner+.card__content .icon-with-text-main-blk .icon_text p {
    font-size: 10px;
}
  .collection-list .card__inner+.card__content .icon-with-text-main-blk {
    display: flex;
    flex-direction: row;
}
  .product__info-container .product-form__buttons button.shopify-payment-button__button {
    min-width: unset;
}
  ul.product-grid li.grid__item .card-wrapper.product-card-wrapper .card__content {
    display: flex;
    flex-direction: column;
}
  ul.product-grid li.grid__item .card--standard>.card__content .card__information {
    display: flex;
    flex-direction: column;
        gap: 0.5rem;
}
  ul.product-grid li.grid__item span.discount-percentage-new {
    position: relative;
    top: 0;
}
  ul.product-grid li.grid__item .card-wrapper.product-card-wrapper .card__content .card-information {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}
  ul.product-grid li.grid__item .card--standard>.card__content .card__information .card-information .price {
    text-align: center;
    display: flex;
    align-items: flex-start;
}
  ul.product-grid li.grid__item .price--on-sale .price__sale {
    display: flex;
    align-items: flex-start;
}
  ul.product-grid li.grid__item .quick-add product-form form.form {
    display: flex;
    flex-direction: column;
}
  ul.product-grid li.grid__item .quick-add__submit {
    width: 100%;
}
  ul.product-grid li.grid__item .quick-add__submit svg {
    display: none;
}
  ul.product-grid li.grid__item .quick-add__submit >span:before {
    content: 'Add to Cart';
    color: #fff;
    font-size: 12px;
}
}